.skip a {
    position: absolute;
    left: -500px;
    height: 25px;
}

.skip a:focus {
    position: static;
    text-decoration: underline;
}

body {
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 500;
    font-style: normal;
    background-color: rgba(53, 134, 172, 0.982);
    color: black;
    font-size: 18px;
}

nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    list-style-type: none;
    font-weight: 400;
    font-size: 18px;
    background-color: white;
    color: rgba(29, 72, 93, 1);
}

nav li a {
    display: block;
    padding: 10px;
    width: 100%;
    text-align: center;
}

nav li.active a {
    font-weight: 600;
    background-color: rgb(255, 224, 102);
}

nav li a:focus,
nav li a:hover {
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
}

h1 {
    font-size: 36px;
    font-weight: 600;
    margin: 20px;
    color: white;
    margin-bottom: 0;
}

img {
    margin-bottom: -3px;
    width: 100%;
}

#arrow {
    display: inline;
}

h2 {
    font-size: 24px;
    padding: 20px;
    color: rgb(255, 224, 102);
    line-height: 110%;
    background-color: rgba(53, 134, 172, 0.982);
}

.controls {
    margin-bottom: 20px;
}

.control {
    background-color: rgb(255, 224, 102);
    padding: 12px 24px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    font-weight: 600;
}

.control:hover {
    background-color: rgb(255, 224, 102);
    color: rgba(29, 72, 93, 1);
}

.control:first-child {
    margin-left: 20px;
}

.control:last-child {
    margin-right: 20px;
}

.genfilt .control {
    background-color: rgba(29, 72, 93, 1);
    color: white;
}

#mappic {
    display: none;
}

#mappicl {
    display: none;
}

.gallery {
    padding: 20px 20px 0 20px;
    background-color: white;
}

.statebutts {
    overflow: auto;
    white-space: nowrap;
    scrollbar-width: none;
}

figcaption {
    padding: 10px 0px 20px 0px;
}

#main p {
    line-height: 125%;
    font-size: 18px;
    background-color: white;
    padding: 20px;
    /* margin-top: -5px; */
}

.about {
    background-color: white;
    padding-bottom: 20px;
}

.about div:first-child {
    padding-bottom: 10px;
}

#main ul {
    /* margin-top: -5px; */
    padding-left: 40px;
    padding-right: 20px;
    line-height: 125%;
    font-size: 19px;
    list-style-type: disc;
}

footer {
    padding: 20px;
    font-size: 16px;
    font-weight: 400;
    color: white;
    text-align: center;
    background-color: rgba(29, 72, 93, 1);
}

@media screen and (min-width: 720px) {
    nav ul {
        width: 40%;
        margin-left: 60%;
        list-style-type: none;
        font-weight: 400;
        font-size: 20px;
    }

    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 30px;
    }

    .layout {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .layout h2 {
        grid-column: span 3;
    }

    .layout img {
        grid-column: span 2;
        margin-bottom: 0;
    }

    #main p {
        font-size: 20px;
    }

    #homeimg {
        grid-row: span 3;
    }

    #homeimg+p {
        background-color: rgba(53, 134, 172, 0.982);
        padding-top: 0;
    }

    #mappicl {
        display: none;
    }

    #mappic {
        display: flex;
        padding: 0 5px 0 15px;
        width: 700px;
        height: auto;
    }

    map area {
        cursor: pointer;
    }

    .about {
        padding-bottom: 0;
    }

    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 20px;
        justify-content: space-around;
        align-items: center;
    }

    footer {
        font-size: 18px;
    }
}

@media screen and (min-width: 1024px) {
    h1 {
        font-size: 54px;
    }

    .gallery {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    h2 {
        font-size: 36px;
    }

    .layout {
        background-color: rgba(53, 134, 172, 0.982);
        margin-top: 15px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .layout h2 {
        grid-column: 1/span 2;
        grid-row: 1/span 1;
        text-align: right;
    }

    #homeimg {
        grid-row: 1/span 3;
        grid-column: 3/span 2;
        margin-top: 20px;
    }

    #homeimg+p {
        padding-right: 30px;
        grid-row: 2;
        grid-column: span 2;
    }

    #main p {
        font-size: 24px;
    }

    #main ul {
        font-size: 22px;
    }

    #mappic {
        display: none;
    }

    #mappicl {
        display: flex;
        padding: 0 5px 0 15px;
        width: 1004px;
        height: auto;
    }

    .about {
        grid-column: span 2;
    }
}

@media screen and (min-width: 1400px) {
    .about {
        display: grid;
    }

    .about div:first-child {
        grid-column: 1;
    }

    .about div:last-child {
        grid-column: 2;
    }

    #plgrid {
        display: grid;
        grid-template-columns: 1024px 1fr;
        padding-bottom: 0;
    }

    .gallery {
        grid-column: 2;
        grid-row: 1/span 3;
        grid-template-columns: 1fr;
        overflow: auto;
        scrollbar-width: none;
        max-height: 714.75px;
        border-bottom: 20px solid white;
    }

    figcaption {
        font-size: 22px;
    }

    #plgrid img {
        grid-column: 1;
        grid-row: 1;
    }

    .controls {
        grid-column: 1;
        grid-row: 2;
    }
}